*{
	padding: 0;
	margin: 0;
}

body,html{
	width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

label{
	font-family: 'Raleway', sans-serif;
	font-size: 15px !important;
}

a:hover{
	text-decoration: none !important;
}

.titulo-boot{
	margin-top: 30px;
	margin-bottom: 20px;
	color: #0077b8;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 0;
    font-weight: bold;
    font-family: 'Raleway', sans-serif !important;
    font-size: 16px;
}

.tupla{
	margin-top: 5px;
}

#right{
	position: absolute;
}

.separador{
	background: #003451;
	height: 2px;
	width: 100%;
}

.menu {
	width: 100%;
	max-height: 48px;
	background: #f5f5f5;
	font-family: 'Raleway', sans-serif;
	z-index: 1;   
}

.menu ul{
	z-index: 1;
	list-style: none;
	position: relative;
	text-align: center;
}

.menu ul li{
	width: 150px;
	display: inline-block;
}

.menu a{
	padding: 15px;
	display: block;
	max-height: 48px;
	text-decoration: none;
	text-align: center;
	color: #181818;
	background: #f5f5f5;
	font-family: 'Raleway', sans-serif;
	font-weight: 600!important;
	font-size: 15px !important;
}

.menu ul li a:hover{
	color: #f3f3f3;
	background: #003451;
}

.menu ul ul li a:hover{
	background: #003451;
	color: #f3f3f3;
}

.menu ul ul{
	position: absolute;
	visibility: hidden;
}

.menu ul li:hover ul{
	visibility: visible;
}

.menu ul ul li a{
	background-color: #A30006;
	color: #f3f3f3;
}

span .obg{
	color: #A12126; 
	font-size: 20px; 
	float: right;
}

label[for="bt_menu"]{
	padding: 5px;
	color: #f3f3f3;
	font-family: 'Raleway' sans-serif;
	text-align: left;
	font-size: 30px !important;
	cursor: pointer;
	color: #181818;
	display: none;
	position: absolute;
}

#bt_menu {
	display: none;
}

.menu ul li ul li{
   display: block;
}

#topo .opcoes-direita .btn:hover{
	background: rgba(248,157,99,0.9);
}

#topo .opcoes-direita .btn:active{
	position: absolute;
	top: 1px;
	box-shadow: none;
}

footer {
	background: #181818;
	width: 100%;
	min-height: 60px;
	float: left;
	position:absolute;
	left: 0;
	bottom:0;
	box-shadow: 0 0 3px #000;
}

footer h1{
	font-family: 'Montserrat', sans-serif !important;
	font-size: 14px !important;
	font-weight: 600;
	color: #f3f3f3;
	text-align: center;
	margin-top: 20px;
}


@media (max-width: 1000px){
	table span{
		display: none;
	}

	#right{
		display: none;
	}

	#topo .opcoes-direita .btn{
		display: none;
	}

	.container-login{
		z-index: 0 !important;
	}

	label[for="bt_menu"]{
		display: block;
		font-size: 25px !important;
		margin-left: 2px;
		max-width: 50px;
		max-height: 50px;
	}


	#bt_menu:checked ~ .menu>ul{
		margin-left: 0;
		transition: all .4s;
	}

	.menu>ul{
		z-index: 1;
		width: 100%;
		margin-left: -100%;
		top: 48px;
	}

	.menu ul li{
		width: 100%;
	}

	.menu ul li ul{
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
	}

	.menu ul li:hover ul{
		height: auto;
		max-height: 300px;
	}

	.menu ul{
		border: none;
	}

	.menu ul ul{
		margin-bottom: -4px;
	}

	.conteudo{
		white-space: nowrap;
	}

	.conteudo::-webkit-scrollbar-corner {
		visibility: scroll;
	} 

}
.up{
	text-transform: uppercase;
}